<mat-card class="mat-card-container mat-elevation-z20">
    <mat-card-title>
        About Us
    </mat-card-title>
    <div class="break"></div>
    <mat-card-content>
        <div id="who">
            <h1>Who Are We?</h1>
            <p>
                We are ACME Incorporated, a subsidiary of StewCo designed to create products for YOU that will suit your every need! Need a cucumber that can walk on fire? We got it! 
                Need a dog that can meow but only on Thursdays! We got that too! Anything you can think of we have in our stock, you just need to want it and we either got it, or 
                we'll get it for you! Our sponsors Northeastern Brews and Vibe Veterans LLC can vouch that our products only have a <b>72% failure rate</b>, a 22% less failure rate than
                HoleBoat Inc.!
            </p>
            <p>
                We have strived for a long, long time to perfect our formula for designing interesting and innovative new products. People constantly ask, why create these things? What is
                their purpose? Well, that's the fun of it! We don't know! After all, we server the people and your needs, and let YOU create the products you want. Thanks to our proprietary
                technology, the Memory Injection Neuro-Dampening Relay Entity and Device in Neuro-Garnosphere (or MIND READING, for short) has helped us algorithmically figure out what products
                you want to have, and then we fix it up for you before you have the chance to say "shucks, they don't got it!"
            </p>
        </div>
        <div id="q&a">
            <h1>Frequently Asked Questions</h1>
            
            <p><b>Q: </b>Is any/all food from ACME Inc. safe to consume?</p>
            <p><b>A: </b>Absolutely! Safety comes first here at ACME, and we take into account the desires of all our customers.</p>
            <br>

            <p><b>Q: </b>Does ACME Inc. sell weapons of mass destruction (WMDs) to the general public?</p>
            <p><b>A: </b>Yes, however you must provide some form of ID in order for the sale to be completed, such as a driver's license.</p>
            <br>

            <p><b>Q: </b>My product failed on me! How can I return or have this product fixed?</p>
            <p><b>A: </b>ACME Inc. sadly has a strict return policy due to the specificity and nature of its product design. As every product is designed for the person who wants it, returns are
                         near impossible for ACME to process. However, on more general devices, such as hammers, nails, or gnarhshfloings, we will be happy to help! Call 4-9000-248-ACMEINC for our
                         customer support line!</p>
            <br>

            <p><b>Q: </b>ACME revived one of my loved ones but they turned into a zombie! What do I do?</p>
            <p><b>A: </b>ACME Inc. has your back! Our sanitation department disposes of any zombified loved ones and converts them back into their normal selves until the mutation takes hold again
                         (average time is 4 days). If this is not acceptable to you, ACME has a completely humane euthanization and cloning policy that has been endorsed by the FDA for 3 years!</p>
            <br>

            <p><b>Q: </b>ACME sent me the wrong isotope of (enter radioactive element here). Can I get a refund?</p>
            <p><b>A: </b>Absolutely! Like the question above states, ACME Inc. has a strict return and refund policy, but since ACME Inc. controls the worlds radioactive resources we have moved nearly
                         all isotopes of common radioactive elements into the "General" category of our products.</p>
            <br>

            <p><b>Q: </b>How does ACME organize its products? How do I know which category my product is in?</p>
            <p><b>A: </b>Information on our products, such as categories, services, etc. can be found <a routerLink="/pinfo">here</a>!</p>
        </div>
    </mat-card-content>
</mat-card>