<div class="main-container">
    <mat-card class="product-list-card mat-elevation-z20">
        <mat-card-title class="main-title">
            ACME INCORPORATION OFFICIAL PRODUCT LIST
        </mat-card-title>
        <mat-card-title class="search-bar">
            <mat-form-field appearance="fill" class="filter-dropdown">
                <mat-label>Search By:</mat-label>
                <mat-select [(value)]='filterType' placeholder="Mode">
                    <mat-option value="Name">Name</mat-option>
                    <mat-option value="Category">Category</mat-option>
                    <mat-option value="ACME Rating">ACME Rating</mat-option>
                    <mat-option value="User Rating">User Rating</mat-option>
                </mat-select>
            </mat-form-field>
            
            
            <input type="text" [(ngModel)]='filter'><br>
        </mat-card-title>
        <mat-card-content *ngFor="let product of filteredPList">
            <mat-card class="product-card mat-elevation-z6" (click)="gotoInfoPage(product.product_id)">
                <mat-card-title>{{product.product_name}}</mat-card-title>
                <mat-card-content>
                    <b>Classification: </b>{{product.category}}<br>
                    <b>ACME Rating: </b>{{product.acme_rating}}<br>
                    <b>User Rating: </b>{{product.user_rating}}<br>
                    <b>Amount in Stock: </b>{{product.amount_in_stock}}<br>
                    <b>Price: </b>{{product.productYearlyData | getLatestRetailPrice }}<br>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>