.main-container {
    background-color: white;
    position: absolute;
    margin-top: 50px;
    top: 0; left: 0; right: 0; bottom: 0;
}

.main-title {
    text-align: center;
}

.proposal-card {
   width: 400px; 
   margin: auto;
   margin-top: 20px;
   text-align: center;
}

.proposal-card mat-card-title {
    font-size: 28px;
}

.proposal-card mat-card-content {
    font-size: 16px;
}

.comment-container {
    background-color: #efefef;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.comment-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#new-comment-box {
    margin: 20px;
}

.comment-textbox {
    width: 100%;
}

.comment-textbox textarea {
    height: 120px;
    resize: none !important; /* overwrite Angular text resizing function */
}

#comment-post-button {
    margin-left: 15px;
    margin-bottom: 15px;
}

.comment-card {
    margin: 20px;
}

.comment-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vote-icon {
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

#ratio-num {
    font-size: 22px;
    margin-right: 3px;
}

@media screen and (max-width: 1000px) {
    .comment-container {
        width: 95%;
    }
}

@media screen and (max-width: 2000px) and (min-width: 1001px) {
    .comment-container {
        width: 75%;
    }
}

@media screen and (min-width: 2001px) {
    .comment-container {
        width: 60%;
    }
}
