/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.reading-block { overflow: visible !important;} /* fix ngx-gauge */
.mat-form-field-appearance-outline .mat-form-field-outline { color: crimson !important; }
.mat-focused .mat-form-field-label { color: crimson !important; }