.main-container {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%-20px);
    height: calc(100%-20px);
    margin-top: 3%;
    justify-content: center;
}

.mid-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%-20px);
    height: calc(100%-20px);
    justify-content: center;
}

mat-card-title {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    /* phone settings here */
}

@media screen and (max-width: 2000px) and (min-width: 1001px) {

}

@media screen and (min-width: 2001px) {

}

mat-card {
    margin: 10px;
}

mat-card-footer {
    padding-left: 5px;
}

.wide-short-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 250px;
    flex-shrink: 2;
}

.wide-long-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 835px;
    height: 250px;
}

.huge-long-card {
    display: flex;
    flex-direction: column;
    width: 835px;
    height: 360px;
}

.thin-tall-card {
    width: 200px;
    height: 500px;
}

.card-header {
    text-align: center;
}

#fail-gauges {
    display: flex;
    justify-content: space-between;
}