.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    margin-top: 15px;
    margin-bottom: 5px;
}

.register-card {
    margin-top: 20px;

    /* inherit flex properties from main container */
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;

}

.register-card mat-card-content {
    /* inherit flex properties from main container */
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    margin-bottom: 20px;
}

.register-card mat-card-title {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.fail {
    color: crimson;
    font-size: 10px;
}

.success {
    color: green;
    font-size: 10px;
}

.button {
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .register-card {
        width: 100%;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1001px) {
    .register-card {
        width: 95%;
    }
}

@media screen and (max-width: 2200px) and (min-width: 1501px) {
    .register-card {
        width: 70%;
    }
}

@media screen and (min-width: 2201px) {
    .register-card {
        width: 60%;
    }
}