.background {
    width: 100%;
    height: 100%;

    background: white;
}

.banner-main {
    width: 100%;
    height: 50px;
    background-color: crimson;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-left {
    /* banner-left */
    width: 90%;
    height: inherit;
    
    /* flex styling */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-left .header {
    color: white;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 24px;
}

.banner-left .header:hover {
    color: orange;
    cursor: pointer;
}

.banner-left li {
    color: gainsboro;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    font-size: 20px;
}

.banner-left li:hover {
    color: orange;
    cursor: pointer;
}

.banner-left a {
    text-decoration: none;
    color: inherit;
}

.banner-left .separator {
    margin-bottom: 5px;
    color: white;
    font-size: 24px;
}

.banner-right {
    text-align: right;
    width: 10%;
    height: inherit;

    /* flex styling */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.banner-right li {
    text-align: right;
    color: gainsboro;
    padding-right: 20px;
    list-style: none;
    font-size: 20px;
}

.banner-right li:hover {
    color: orange;
    cursor: pointer;
}

.banner-right a {
    text-decoration: none;
    color: inherit;
}